In [2]:
import pandas as pd
df = pd.read_csv('demo1.csv')
df

        day  event  temperature  windspeed
0  1/1/2023   Rain           32          6
1  1/2/2023  Sunny           34          7
2  1/3/2023   Snow           45          8
3  1/4/2023   Snow           35          4
4  1/5/2023   Rain           29          5
5  1/6/2023  Sunny           28          7

In [3]:
df = pd.read_excel('demo.xlsx', 'Sheet1')
df

         day  event  temperature  windspeed
0 2023-01-01   Rain           32          6
1 2023-01-02  Sunny           34          7
2 2023-01-03   Snow           45          8
3 2023-01-04   Snow           35          4
4 2023-01-05   Rain           29          5
5 2023-01-06  Sunny           28          7

In [4]:
weather_data = {
    'day' : ['1/1/2023', '1/2/2023', '1/3/2023'],
    'temperature' : [32, 35, 29],
    'event' : ['Sunny', 'Snow', 'Rain'],
    'windspeed' : [7, 5, 6]
}
df = pd.DataFrame(weather_data)
df

        day  temperature  event  windspeed
0  1/1/2023           32  Sunny          7
1  1/2/2023           35   Snow          5
2  1/3/2023           29   Rain          6

In [5]:
weather_data = [
    ('1/1/2023', 32, "Sunny", 6),
    ('1/2/2023', 34, "Snow", 5),
    ('1/3/2023', 29, "Rain", 7),
]
df = pd.DataFrame(weather_data, columns=['dat', 'temperature', 'event', 'windspeed'])
df

        dat  temperature  event  windspeed
0  1/1/2023           32  Sunny          6
1  1/2/2023           34   Snow          5
2  1/3/2023           29   Rain          7