In [6]:
import pandas as pd
df = pd.read_csv('picnic.csv')
df[df["Session :"]=="2019-2020"]

,Timestamp,Name:,Phone Number :,Session :,Payment Method (01795952953) :,Payment Reference(Name) / Transaction ID :,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
2,12/4/2023 21:06,Abdullah Al Noman,01799-102356,2019-2020,Hand Cash,Shoyon,NaN,NaN,NaN,NaN,NaN,NaN
4,12/4/2023 22:09,Sayed,1793348422,2019-2020,Hand Cash (200 tk),Shimanto,NaN,NaN,NaN,NaN,NaN,NaN
5,12/4/2023 21:42,Miad Bhuiyan,1902308728,2019-2020,Hand Cash,Miad,NaN,NaN,NaN,NaN,NaN,NaN
8,12/4/2023 21:51,?????? ??????,1701373936,2019-2020,Hand Cash (200 tk),Hand cash,NaN,NaN,NaN,NaN,NaN,NaN
10,12/4/2023 21:54,Yeasir Arafat Zim,1787368159,2019-2020,Hand Cash (200 tk),Yeasit,NaN,NaN,NaN,NaN,NaN,NaN
14,12/4/2023 21:57,Nasif Hasan,1797436871,2019-2020,Hand Cash (200 tk),???,NaN,NaN,NaN,NaN,NaN,NaN
15,12/4/2023 21:58,Md Hemayet Hossain,1760688361,2019-2020,Hand Cash (200 tk),Shayon,NaN,NaN,NaN,NaN,NaN,NaN
16,12/4/2023 22:00,Md . Abdur Rouf,1959110408,2019-2020,Hand Cash (200 tk),hand cash,NaN,NaN,NaN,NaN,NaN,NaN
21,12/4/2023 22:15,Tahsina yeasmin,1729807797,2019-2020,Hand Cash (200 tk),???,NaN,NaN,NaN,NaN,NaN,NaN
32,12/4/2023 23:31,Burhan,1795952953,2019-2020,Hand Cash (200 tk),Showon,NaN,NaN,NaN,NaN,NaN,NaN
34,12/4/2023 23:41,Sumon,1626483031,2019-2020,Hand Cash (200 tk),Hand Cash,NaN,NaN,NaN,NaN,NaN,NaN
35,12/4/2023 23:44,Ahsan Habib,1836732385,2019-2020,Hand Cash (200 tk),Shayon,NaN,NaN,NaN,NaN,NaN,NaN
36,12/5/2023 0:10,Ashraful Alam Talash,1741161825,2019-2020,Hand Cash (200 tk),Talash,NaN,NaN,NaN,NaN,NaN,NaN
40,12/5/2023 10:57,Chayon Datta Utsho,1780994156,2019-2020,Bkash (205 tk),Showon,NaN,NaN,NaN,NaN,NaN,NaN
43,12/5/2023 12:38,Md. Ashikur Rahman,1743439382,2019-2020,Hand Cash (200 tk),Showon,NaN,NaN,NaN,NaN,NaN,NaN
48,12/5/2023 14:49,Sourav Chakraborty,1759794872,2019-2020,Hand Cash (200 tk),Pore dibo,NaN,NaN,NaN,NaN,NaN,NaN
53,12/5/2023 19:02,Rofeya Hamid,1761353392,2019-2020,Hand Cash (200 tk),???,NaN,NaN,NaN,NaN,NaN,NaN
54,12/5/2023 19:08,Rokeya Sultana Asha,1752741400,2019-2020,Hand Cash (200 tk),Hand cash,NaN,NaN,NaN,NaN,NaN,NaN
56,12/5/2023 19:26,Nusrat Jahan Sonda,1786666550,2019-2020,Hand Cash (200 tk),showon,NaN,NaN,NaN,NaN,NaN,NaN
57,12/6/2023 12:45,Afrin,1748873726,2019-2020,Hand Cash (200 tk),Showon,NaN,NaN,NaN,NaN,NaN,NaN
58,12/5/2023 19:36,mst. suraiya akter,1784612018,2019-2020,Hand Cash (200 tk),shoyon,NaN,NaN,NaN,NaN,NaN,NaN
64,12/5/2023 22:27,Ibrahim,1734935995,2019-2020,Hand Cash (200 tk),Noman 19-20,NaN,NaN,NaN,NaN,NaN,NaN
65,12/5/2023 22:42,Hazrat Shah Showon,1703417455,2019-2020,Hand Cash (200 tk),??? ??,NaN,NaN,NaN,NaN,NaN,NaN
73,12/6/2023 0:28,Afsana mim,1781574893,2019-2020,Hand Cash (200 tk),Afsana,NaN,NaN,NaN,NaN,NaN,NaN
99,12/6/2023 12:13,Anjuman Ara Oishe,1920361430,2019-2020,Hand Cash (200 tk),Showon,NaN,NaN,NaN,NaN,NaN,NaN
100,12/6/2023 12:16,Sajiatun Jannat Chhowa,1971580904,2019-2020,Hand Cash (200 tk),Showon,NaN,NaN,NaN,NaN,NaN,NaN
101,12/6/2023 12:26,Mst. Amina Yasmin,1314247898,2019-2020,Hand Cash (200 tk),Showon,NaN,NaN,NaN,NaN,NaN,NaN
108,12/6/2023 12:44,Rajone Khatun,1775344401,2019-2020,Hand Cash (200 tk),Showon,NaN,NaN,NaN,NaN,NaN,NaN
109,12/6/2023 12:46,Sumaiya zannath,1751043338,2019-2020,Hand Cash (200 tk),Showon,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df[['Name', 'session']][df.session=='2019-2020']
df

KeyError: "None of [Index(['Name', 'session'], dtype='object')] are in the [columns]"

In [16]:
ndf = df.query("session=='2019-2020'")["Name"]
ndf

0           Abdullah Al Noman
2                       Sayed
3                Miad Bhuiyan
6               আরাফাত হোসাইন
8           Yeasir Arafat Zim
12                Nasif Hasan
13         Md Hemayet Hossain
14            Md . Abdur Rouf
19            Tahsina yeasmin
30                     Burhan
32                      Sumon
33                Ahsan Habib
34       Ashraful Alam Talash
38         Chayon Datta Utsho
41         Md. Ashikur Rahman
46         Sourav Chakraborty
51               Rofeya Hamid
52        Rokeya Sultana Asha
54         Nusrat Jahan Sonda
55                      Afrin
56         mst. suraiya akter
62                    Ibrahim
63         Hazrat Shah Showon
71                 Afsana mim
97          Anjuman Ara Oishe
98     Sajiatun Jannat Chhowa
99          Mst. Amina Yasmin
106             Rajone Khatun
107           Sumaiya zannath
Name: Name, dtype: object

In [11]:
type(df.session)

pandas.core.series.Series

In [18]:
df.query("session=='2020-2021'")["Name"]

28         ISHRAK ZAHAN SHEMANTO
35            Md. Shahjada Sajid
45               MD JULFIKAR ALI
64          Kazi Md Zubaer Ahmad
65                          Rony
66             Israt Jahan Bithi
76     Md. Ashiqur Rahman Sompod
77                         Arnob
82              Mst. Sadia Akter
85                  Indrani Saha
86            Sharmishtha Biswas
87                 Farzana Akter
88             Md. Saidur Rahman
89                  Halima Akter
90              Sadia Afrin Kumu
91           Kumari Sraboni Rani
93                Taeefa Farhana
100             Rafiqunnisa Roma
109           Md. Sazidur Rahman
110                       SHIHAB
128          Minhuz Taznim Himel
Name: Name, dtype: object

In [19]:
df.query("session=='2022-2023'")["Name"]

7            MD. ALTAF HOSSAIN.
9               Md. Fahim Azmol
10                     Md.Sonju
11                   Md Al Riad
15               Mongmycha Chak
16        Mst. Jannatul Ferdous
17              Mushfikur Rahim
18          Jobaida Nasrin Dola
20          Nure Jannath Ananna
21            Samia khan Sristy
22                  Maori Haque
23     Syeda Fahmida Hasan Fiza
24           Marzia Akter Mukti
26          Arzu Mohammad Rizvi
29             Misnu Al Asnawai
37             Md. Abir Hossain
42           Israt Jahan Rajoni
69      MD Rabiul Islam (Robin)
79                 Fahim Sarker
80               Naim Siddiquee
81                 Nazmul Hasan
92      Md sadiqur rahman Zihad
103                    CHONCHOL
111         Rakibul Islam Rakib
112             Sabyasachi sana
113       Mst.Akia Tahsin Kakon
114              Md Nasir Uddin
115        Shadikur Rahman Emon
116                Sadman Zaeed
126         Shazid Mahmud Labim
127         Mst.Suma Akter Joty
Name: Name, dtype: object

In [40]:
df.query("session=='2021-2022'")["Name"]

1              Tanvirul Hoque Akib
4             Sakeef Mahmud Foysal
5                   Md.Shamim Reza
25                 MD HRIDOY AHMED
36               Abdullah al sabet
39                   Tajbir Hossen
40               Sayed Nahid Kabir
43              Md. Moshiur Rahman
44                  Md. Siam Hasan
47                            Riad
48              Md Israfil Hossain
49                            Abhi
50     kazi eahteshamul haque apon
53                    A.H.M Junaed
57                  Jakia Tabassum
58                      Abu Ubaida
59                    Mehedi Hasan
67                Shahriar Hossain
68             Fawziya Farzana Mim
70       Mst. Suravi Sultana Shova
72          Samiul Quoreshi Sourav
73                    Joyeta Modak
74                   Meherin Akter
75                   Tanjima Islam
78                           Nafis
84            Naimur Rahman Durjoy
94        Md.Musfiqur Rahaman Rana
95                    Anamul haque
96                MD Yeasir Arafat
102                    Jahid Hasan
104                 Shariha Shenty
105                Md. Zahid Hasan
117                      Abu saeid
118            Nishat Nuzhat Kabbo
119                  MD Abdul Alim
120             Taslima akter akhi
121                  Muslima Aktar
122                    Anik Mondal
123            Md.Hasan Ali Shaikh
124                          Naeem
125        MD.Raiyanur Rahman Naim
131                  Afroza khatun
Name: Name, dtype: object

In [30]:
df.query("session=='2018-2019'")["Name"]

27     Shahriar Kajol joy
31          Ikbal Hossain
60         Sabrina Parvin
61        Tasnia Tabassum
101                sowrov
108            Atik Hasan
Name: Name, dtype: object

In [51]:
df.query("Payment=='Bkash (205 tk)'")["session"]

38     2019-2020
51     2019-2020
69     2022-2023
104    2021-2022
108    2018-2019
110    2020-2021
118    2021-2022
123    2021-2022
124    2021-2022
125    2021-2022
129    2020-2021
130    2020-2021
Name: session, dtype: object

In [55]:
df.query("Payment=='Nagad (205 tk)'")["Name"]

44         Md. Siam Hasan
109    Md. Sazidur Rahman
131         Afroza khatun
Name: Name, dtype: object

In [54]:
df.query("Payment=='Bkash (205 tk)'")["Name"]

38          Chayon Datta Utsho
51                Rofeya Hamid
69     MD Rabiul Islam (Robin)
104             Shariha Shenty
108                 Atik Hasan
110                     SHIHAB
118        Nishat Nuzhat Kabbo
123        Md.Hasan Ali Shaikh
124                      Naeem
125    MD.Raiyanur Rahman Naim
129           MD.Rabbiul Titas
130           মো শাহিনুর রহমান
Name: Name, dtype: object